.testimonial-image {
  width: 100px; /* Adjust the image width as desired */
  height: 100px; /* Adjust the image height as desired */
  border-radius: 50%; /* Optional: Add rounded corners */
  object-fit: cover; /* Ensure image fills the container */
  margin: 0 auto; /* Center the image horizontally */
  display: block; /* Ensure image is displayed as a block element */
  margin-bottom: 150px;
  border: 2px solid #ccc; /* Add a 2px solid border with a light gray color */
  background-color: #f0f0f0;
}

.testimonial-caption {
  text-align: center; /* Align the caption text to the center */
  margin-top: 10px; /* Add a margin to position the caption below the image */
}
