.custom-dropdown .dropdown-menu {
  z-index: 9999;
  left: -125px;
}

.custom-dropdown .nav-link {
  padding: 0px;
}

/* Hide the dropdown toggle caret */
.custom-dropdown .dropdown-toggle::after {
  display: none;
}

.top-navbar {
  background: #000;
  border-bottom: 2px solid #fcd609;
}

.navbar-logo {
  width: 120px;
}

.search-container {
  transition: all 0.3s ease-in-out;
}

/* Mobile-specific changes */
@media (max-width: 767.98px) {
  .navbar-logo {
    display: block;
    margin: 0 auto;
  }

  .toggle-align {
    text-align: end;
  }

  .search-container {
    display: none; /* Hidden by default on mobile */
  }

  .search-container.d-flex {
    display: flex; /* Show when toggled */
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .nav-button {
    margin: 5px 0;
    padding: 8px 12px;
    background: #e1e1e1;
    color: #000;
    border-radius: 50px;
  }

  .search-icon {
    cursor: pointer;
  }
}
