.uppercase-word {
  text-transform: uppercase;
}

.text-sm {
  font-size: small;
}
.text-bold {
  font-weight: bold;
}

.card-headers {
  text-transform: uppercase;
  font-weight: bold;
  font-size: medium;
}

.order-Info-detail-flex {
  display: flex;
  justify-content: space-between;
}
.card-headers .badge {
  line-height: normal;
}

.chatbox-list .message-date {
  background: #cfcfcf; /* Blue background */
  color: #454545; /* White text */
  padding: 8px 25px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px 0;
}

.chatbox-list .fixed-date {
  position: sticky;
  top: 0;
  z-index: 2;
}
