:root {
  --primary-light: #fff;
  --primary-dark: #121212;
  --text-primary-light: #1a237e;
  --text-primary-dark: #ffffff;
  --text-secondary-light: #5c6bc0;
  --text-secondary-dark: #cfcfcf;
}

/* General styles for scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    45deg,
    #f3f3f3,
    #ddd
  ); /* Subtle gradient background */
  border-radius: 10px; /* Curve the track */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #f3f3f3); /* Gradient for the thumb */
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #f3f3f3); /* Slightly darker on hover */
}

/* Firefox support */
* {
  scrollbar-width: thin; /* Thin scrollbar width */
  scrollbar-color: #f3f3f3; /* Thumb color and track color */
}

.light-mode {
  background-color: var(--primary-light);
  color: var(--text-primary-light);
}

.dark-mode {
  background-color: var(--primary-dark);
  color: var(--text-primary-dark);
}

.dark-mode h5,
.dark-mode small {
  color: var(--text-secondary-dark);
}

.light-mode h5,
.light-mode small {
  color: var(--text-secondary-light);
}

.btn-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: #fcd609;
  --bs-btn-border-color: #fcd609;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 252, 214, 9; /* Updated to match primary color */
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000; /* Active color same as hover */
  --bs-btn-active-border-color: #000000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #fcd609;
  --bs-btn-disabled-border-color: #fcd609;
}

.btn-outline-primary {
  --bs-btn-color: #000000;
  --bs-btn-border-color: #fcd609;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #fcd609;
  --bs-btn-hover-border-color: #fcd609;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #fcd609;
  --bs-btn-active-border-color: #fcd609;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fcd609;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fcd609;
  --bs-gradient: none;
}

.btn-primary-secondary {
  --bs-btn-color: #000;
  --bs-btn-bg: #fcd609;
  --bs-btn-border-color: #fcd609;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #e6bc08; /* Slightly darker shade for hover */
  --bs-btn-hover-border-color: #d8b007; /* Darker shade for border on hover */
  --bs-btn-focus-shadow-rgb: 252, 214, 9;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #d8b007; /* Even darker for active state */
  --bs-btn-active-border-color: #c7a506;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #fcd609;
  --bs-btn-disabled-border-color: #fcd609;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fcd609;
  --bs-btn-hover-border-color: #fcd609;
  --bs-btn-focus-shadow-rgb: 0, 0, 0; /* Focus shadow adjusted for black */
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #fcd609; /* Active color same as hover */
  --bs-btn-active-border-color: #fcd609;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000000;
  --bs-btn-disabled-border-color: #000000;
}

.btn-secondary-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #333; /* Slightly lighter shade for hover */
  --bs-btn-hover-border-color: #333; /* Same lighter shade for border on hover */
  --bs-btn-focus-shadow-rgb: 0, 0, 0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1a1a1a; /* Slightly darker for active state */
  --bs-btn-active-border-color: #1a1a1a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000;
  --bs-btn-disabled-border-color: #000;
}

.btn-white-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000; /* Slightly lighter shade for hover */
  --bs-btn-hover-border-color: #000000; /* Same lighter shade for border on hover */
  --bs-btn-focus-shadow-rgb: 0, 0, 0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1a1a1a; /* Slightly darker for active state */
  --bs-btn-active-border-color: #1a1a1a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000;
  --bs-btn-disabled-border-color: #000;
}

/* Hover effect for buttons */
.btn-primary-secondary,
.btn-secondary-secondary {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Scale the button slightly on hover */
.btn-primary-secondary:hover,
.btn-secondary-secondary:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Add subtle shadow for depth */
}

/* Scrollbar for specific areas */
.custom-scroll {
  overflow-y: auto;
  scrollbar-width: thin; /* Use browser's automatic scrollbar width */
  scrollbar-color: #9b9999;
}

/* Add a horizontal scrollbar style */
.horizontal-scroll {
  overflow-x: auto;
  scrollbar-color: #9b9999;
}

/* Scrollbar for dark mode */
body.dark-mode ::-webkit-scrollbar-track {
  background: #1a1a1a;
}

body.dark-mode ::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff4500, #ff6347);
}

/* Smooth scrolling for better experience */
html {
  scroll-behavior: smooth;
}
