:root {
  --primary-light: #e8eaf6;
  --primary-dark: #121212;
  --text-primary-light: #1a237e;
  --text-primary-dark: #ffffff;
  --text-secondary-light: #5c6bc0;
  --text-secondary-dark: #cfcfcf;
}

.light-mode {
  background-color: var(--primary-light);
  color: var(--text-primary-light);
}

.dark-mode {
  background-color: var(--primary-dark);
  color: var(--text-primary-dark);
}

.dark-mode h5,
.dark-mode small {
  color: var(--text-secondary-dark);
}

.light-mode h5,
.light-mode small {
  color: var(--text-secondary-light);
}
