.notification-dropdown {
  width: 400px;
  min-width: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 350px;
  overflow-y: auto;
  margin: 2px;
  position: relative;
}

.dropdown-toggle::after {
  display: none !important;
}

.custom-notification-dropdown .dropdown-menu {
  left: -360px !important;
  top: 50px;
  padding: 0;
  border: 0;
}

.notification-footer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 10px 10px;
  border-top: 1px solid #ddd;
}

@media (max-width: 768px) {
  .notification-dropdown {
    width: 300px;
    left: -125px;
  }
  .custom-notification-dropdown .dropdown-menu {
    left: -130px !important;
    top: 50px;
    z-index: 9999;
  }
}
